.endline{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icon{
  display: inline-block;
  font-size: 2rem;
  animation: float 5s ease-in-out infinite;
  color: $color-main;
  text-align: center;
  letter-spacing: 1.5rem;
  font-size: 2.5rem;
  padding: 10px;
}

span{
  display: none;
  margin: 0;
  padding: 0;
}

.fa-instagram{
  animation-delay: 1s;
}

.fa-whatsapp{
  animation-delay: 2s;
}

@keyframes float{
  0%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-15px);
  }

  100%{
    transform: translateY(0);
  }
}