header{
  background-color: $color-dark;
}

.nav-branding{
  font-size: 2rem;
  text-decoration: none;
  font-family: $font-header;
  color: $color-main;
  margin: 0 0 0 30px;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-links{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  li{
    list-style: none;

    a{
      color: $color-light;
      text-decoration: none;
  
      .nav-link{
        transition: 1s ease;
      }
      &:hover{
        color: $color-support;
      }
    }
  }
}

.burger{
  display: none;
  cursor: pointer;
}

.line{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $color-light;
}

@media (max-width: 768px){
  .burger{
    display: block;
  }

  .burger.active .line:nth-child(2){
    opacity: 0;
  }

  .burger.active .line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .burger.active .line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links{
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: $color-dark;
    width: 100%;
    text-align: center;
    transition: 0.5s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-links.active{
    right: 0;
  }
}
