.h1 {
  font-family: $font-text;
  font-size: 40px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}
  
.h2 {
  font-size: 26px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}
  
.h3 {
  font-size: 18px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}