$font-text: 'Lato', sans-serif;
$font-header: 'Patrick Hand', cursive;

$color-dark: #333;
$color-light: #fff;
$color-main: #e44f0fd5;
$color-support: #ddad11;

$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$transition: all 1s;
$radius: 4px;

$base-size: 12px;